<div id="root"></div>
<p>DOMAIN: {{ shop.domain }}</p>
<link href="https://storage.googleapis.com/zezwolenia/widget.css" rel="stylesheet"/>
<script async src="https://storage.googleapis.com/zezwolenia/widget.js"></script>

{% schema %}
{
"name": "Kip",
"target": "body"
}
{% endschema %}

